POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_HOST='db' # use 'db' with docker or localhost for local environment
POSTGRES_DB='music_practice_api_db'
POSTGRES_TEST_DB='music_practice_api_test_db'
