services:
  db:
    image: postgres
    volumes:
      - api_db:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5433:5433"
  api:
    build: .
    environment:
      PIDFILE: /tmp/pids/server.pid
    command: /bin/sh -c "bundle exec rails s -p 3000 -b '0.0.0.0'"
    ports:
      - "3000:3000"
    depends_on:
      - db
    # The pid file is stored in this docker tmpfs temporary mount. 
    # This avoid the need to remove server.pid before the container runs
    tmpfs:
      - /tmp/pids/
    volumes:
      - .:/app
      - rubygems:/usr/local/bundle
volumes:
  api_db:
  rubygems:
