<div class="card">
  <div class="card-body">
    <p class="card-text"><strong>Practice Session for Music:</strong> <%= @practice_session.music.title %></p>
    <p class="card-text"><strong>Goal:</strong> <%= @practice_session.goals %></p>
    <p class="card-text"><strong>Status:</strong> <%= @practice_session.status %></p>
  </div>
</div>
